html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  text-align: center;
  background-color: #282c34;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
}

#inputs{
  display: flex;
  justify-content: space-around;
}

#inputs label{
  color: aliceblue;
  margin-right: 5px;
}



#comments{
  background-color: blueviolet;
  font-size: medium;
  padding-bottom: 10px;
}

.input{
  padding-right: 5px;
}